data/clf/raw_tables/**
data/clf/clf_fits/**
data/clf/.ipynb_checkpoints/**
data/clf/__pycache__/**
data/clf/all_objects/**
data/clf/clf.csv
data/clf/iDR4_zero-points.csv
.spyproject/
data/unl/raw_tables/**
data/unl/.ipynb_checkpoints/**
data/unl/unl.csv
data/.ipynb_checkpoints/**
data/unl/unl_fits
data/unl/__pycache__
data/unl/unl_big.csv
data/unl/unl_small.csv
data/unl/all_objects/**
data/unl/iDR4_zero-points.csv
